---
layout: default
title: "About"
---

<div class="panel panel-default">
	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#profile" data-toggle="tab" aria-expanded="false">Profile</a></li>

			<li><a href="#timeline" data-toggle="tab" aria-expanded="false">Experience</a></li>

			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
					Accomplishments <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#projects" data-toggle="tab" aria-expanded="false">Projects</a></li>

					<li><a href="#publications" data-toggle="tab" aria-expanded="false">Publications</a></li>

					<li><a href="#certifications" data-toggle="tab" aria-expanded="false">Certifications</a></li>
				</ul>
			</li>

			<li><a href="#education" data-toggle="tab" aria-expanded="false">Education</a></li>
		</ul>


		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade active in" id="profile">
				<br>
				{% include profile.html %}
			</div>

			<div class="tab-pane fade" id="timeline">
				<br>
				{% include timeline.html %}
			</div>

			<div class="tab-pane fade" id="projects">
				<br>
				{% include projects.html %}
			</div>

			<div class="tab-pane fade" id="publications">
				<br>
				{% include publications.html %}
			</div>

			<div class="tab-pane fade" id="certifications">
				<br>
				{% include certifications.html %}
			</div>

			<div class="tab-pane fade" id="education">
				<br>
				{% include education.html %}
			</div>
		</div>
	</div>


	<div class="panel-footer">
		<a class="btn btn-xs btn-default" href="{{ site.baseurl }}/about2.html">Expand</a>
	</div>
</div>
