---
layout: default
title: "Home"
---



{% for post in paginator.posts %}
<div class="panel panel-default">
	<!--======== Photo ========-->
	{% if post.categories contains 'photo' %}
	<div class="panel-body">
		{{ post.content | strip_html | truncatewords:50 }}
		<a href="{{ site.baseurl }}{{ post.url }}" class="small">More &raquo;</a>
	</div>

	<div class="panel-body" style="padding: 0;">
		<div class="my-gallery">
			<figure>
				<a href="{{ site.baseurl }}/assets/img/blog/{{ post.img }}" data-size="{{ post.size }}">
					<img src="{{ site.baseurl }}/assets/img/blog/{{ post.img }}">
				</a>
				<figcaption>{{ post.content | strip_html | truncatewords:50 }}</figcaption>
			</figure>
		</div>
	</div>

	<!--======== Text ========-->
	{% else %}
	<div class="panel-body">
		{% if post.categories contains 'bookmarked' %}
		<span class="glyphicon glyphicon-bookmark pull-right" style="color: #d9534f;"></span>
		{% endif %}

		<h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
		{{ post.content | strip_html | truncatewords:50 }}
		<a href="{{ site.baseurl }}{{ post.url }}" class="small">More &raquo;</a>
	</div>
	{% endif %}

	<!--======== Footer ========-->
	<div class="panel-footer gray small">
		<span class="glyphicon glyphicon-time"></span> {{ post.date | date_to_string }}

		{% if post.categories contains 'photo' %}
		&nbsp;
		<span class="glyphicon glyphicon-retweet"></span> {{ post.size }}

		{% else %}
		&nbsp;
		<span class="glyphicon glyphicon-tag"></span>
		{% include post_tags.html %}
		<!--a href="{{ site.baseurl }}{{ post.url }}#disqus_thread"></a-->
		{% endif %}
	</div>
</div>
{% endfor %}




<div class="panel panel-default">
	<div class="panel-body">
		{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
			<a class="btn btn-xs btn-default" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
			{% else %}
			<span class="btn btn-xs btn-default disabled">&laquo; Prev</span>
			{% endif %}

			{% for page in (1..paginator.total_pages) %}
			{% if page == paginator.page %}
			<em>{{ page }}</em>
			{% elsif page == 1 %}
			<a href="{{ site.baseurl }}/">{{ page }}</a>
			{% else %}
			<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
			{% endif %}
			{% endfor %}

			{% if paginator.next_page %}
			<a class="btn btn-xs btn-default" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
			{% else %}
			<span class="btn btn-xs btn-default disabled">Next &raquo;</span>
			{% endif %}
		</div>
		{% endif %}
	</div>
</div>


{% include gallery.html %}