---
layout: blank
title: "Launchpad"
---

<div class="row">
	<div class="col-sm-3">
	</div>


	<div class="col-sm-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				{% include search.html %}
			</div>
		</div>
	</div>


	<div class="col-sm-3">
	</div>
</div>


<div class="row app">
	{% for app in site.apps %}
	<a class="btn btn-sm btn-default" href="{{ app.href }}" target="_blank"><img src="{{ site.baseurl }}/assets/img/icon_{{ app.icon }}_48.png"><br>{{ app.name }}</a>
	{% endfor %}
</div>