---
layout: default
title: "Tags"
permalink: /tags/
---

<div class="panel panel-default">
	<div class="panel-body">
		{% for tag in site.tags %}
		<a class="btn btn-xs btn-default" href="#{{ tag | first | slugize }}">#{{ tag | first }}</a></li>
		{% endfor %}
		

		<hr>
		{% for tag in site.tags %}
		{% capture tag_name %}{{ tag | first }}{% endcapture %}
		<a name="{{ tag_name | slugize }}"></a>
		<span id="#{{ tag_name | slugize }}" class="small gray">#{{ tag_name }}</span>
		<ul>
			{% for post in site.tags[tag_name] %}
			<span class="gray small pull-right">{{ post.date | date_to_string }}</span>
			<li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
			{% endfor %}
		</ul>
		{% endfor %}
	</div>
</div>