---
layout: default
title: "Texts"
---

<script type="text/javascript"> 
function password() { 
	var p = prompt("ID verification is required:", ""); 
	if (p != "ll") {
		var p = alert("ID not identified!"); 
		history.go(-1);
	}
	return "";
} 
document.write(password()); 
</script> 


<div class="my-gallery">
	{% for post in site.data.texts %}
	<div class="panel panel-default">
		{% if post.text %}
		<div class="panel-body">
			{{ post.text }}
		</div>
		{% endif %}

		{% if post.img %}
		<div class="panel-body" style="padding: 0;">
			<figure>
				<a href="{{ site.baseurl }}/assets/img/blog/{{ post.img }}" data-size="{{ post.size }}">
					<img src="{{ site.baseurl }}/assets/img/blog/{{ post.img }}">
				</a>
				<figcaption>{{ post.text }}</figcaption>
			</figure>
		</div>
		{% endif %}

		<div class="panel-footer gray small">
			<span class="glyphicon glyphicon-time"></span> {{ post.date }}
			&nbsp;
			<span class="glyphicon glyphicon-map-marker"></span> {{ post.place }}
			&nbsp;
			<span class="glyphicon glyphicon-retweet"></span> {{ post.size }}
		</div>
	</div>
	{% endfor %}
</div>