<table class="table table-striped">
	<tbody>
		<tr>
			<td>
				<img src="{{ site.baseurl }}/assets/img/logo_purdue.png" height="40" width="40">
			</td>
			<td style="width: 100%;">
				<a href="http://www.purdue.edu" target="_blank"><strong>Purdue University</strong></a><br>
				Master of Science &sdot; Architectural Engineering<br>
				<span class="gray small">2013 - 2015 &sdot; West Lafayette &sdot; 3.86/4.0</span>
			</td>
		</tr>


		<tr>
			<td>
				<img src="{{ site.baseurl }}/assets/img/logo_tongji.png" height="40" width="40">
			</td>
			<td style="width: 100%;">
				<a href="http://www.tongji.edu.cn" target="_blank"><strong>Tongji University</strong></a><br>
				Bachelor of Engineering &sdot; Building Environment & Facilities Engineering<br>
				<span class="gray small">2008 - 2012 &sdot; Shanghai &sdot; 84.76/100</span>
			</td>
		</tr>
	</tbody>
</table>