<p class="small gray">Architectural Engineering</p>
<table class="table table-striped">
	<tbody>
		<tr>
			<td>
				<p>
					<a href="{{ site.baseurl }}/pages/project_1.html"><strong>Performance evaluation of building integrated solar thermal shading system</strong></a><br>
					<span class="small gray">June 2014 - June 2015 &sdot; Joint work with Ming Qu and Steve Peng &sdot; West Lafayette</span>
				</p>
				This research evaluated the performance of the building integrated solar thermal shading system in terms of building energy saving, daylight provision, and solar usage based on a medium office building in Los Angeles. Annual dynamic simulations were conducted to predict the year-round impacts of the BISTS system to the building...
				<a href="{{ site.baseurl }}/pages/project_1.html" class="small">more &raquo;</a>
			</td>
		</tr>
	</tbody>
</table>




<br>
<p class="gray small">Website Development</p>
<table class="table table-striped">
	<tbody>
		<tr>
			<td>
				<img src="{{ site.baseurl }}/assets/img/logo_sdc.png" height="40" width="40">
			</td>
			<td style="width: 100%;">
				<a href="https://lucaslionline.github.io/service/" target="_blank"><strong>Team Service Center</strong></a> &sdot; Solar Decathlon China<br>
				<span class="small">https://lucaslionline.github.io/service/</span><br>
				<span class="small gray">March 2017</span>
			</td>
		</tr>
	</tbody>
</table>