<table class="table table-striped">
	<tbody>
		<tr>
			<td>
				<a href="{{ site.baseurl }}/assets/doc/publication_2.pdf" target="_blank">Performance evaluation of building integrated solar thermal shading system: Active solar energy usage</a><br>
				<span class="small gray">
					L. Li, M. Qu, S. Peng &sdot; Renewable Energy 109 (2017) 576-585
					<a href="http://www.sciencedirect.com/science/article/pii/S0960148117302604" target="_blank"><span class="glyphicon glyphicon-link"></span></a>
				</span>
			</td>
		</tr>

		<tr>
			<td>
				<a href="{{ site.baseurl }}/assets/doc/publication_1.pdf" target="_blank">Performance evaluation of building integrated solar thermal shading system: Building energy consumption and daylight provision</a><br>
				<span class="small gray">
					L. Li, M. Qu, S. Peng &sdot; Energy and Buildings 113 (2016) 189-201
					<a href="http://www.sciencedirect.com/science/article/pii/S037877881530476X" target="_blank"><span class="glyphicon glyphicon-link"></span></a>
				</span>
			</td>
		</tr>
	</tbody>
</table>