<div class="panel panel-success">
	<div class="panel-heading">
		<!-- Start -->
		<span class="glyphicon glyphicon-bullhorn"></span>
		
		<script type="text/javascript">
		now = new Date();
		hour = now.getHours();
		if (hour > 4 && hour < 7) {
			document.write("You get up early today. :-)")
		}
		else if (hour < 12) {
			document.write("Good morning! What a wonderful day! :-)")
		}
		else if (hour < 18) {
			document.write("Good afternoon! Have you had lunch, yet? :-)")
		}
		else if (hour < 22) {
			document.write("Good evening! Wanna have dinner together? :-)")
		}
		else if (hour == 23) {
			document.write("It's bed time! Don't stay up too late! :-)")
		}
		else {
			document.write("Sweet dreams! :-)")
		}
		</script>
		<!-- End -->
	</div>
</div>