<div class="panel panel-default">
	<div class="panel-body">
		<p class="gray">To Do List</p>
		<!-- Start -->
		<ul class="nav nav-tabs">
			<li class="active"><a href="#jul" data-toggle="tab" aria-expanded="false">July</a></li>

			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
					Months <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#jan" data-toggle="tab">January</a></li>
					<li><a href="#feb" data-toggle="tab">February</a></li>
					<li><a href="#mar" data-toggle="tab">March</a></li>
					<li><a href="#apr" data-toggle="tab">April</a></li>
					<li><a href="#may" data-toggle="tab">May</a></li>
					<li><a href="#jun" data-toggle="tab">June</a></li>
					<li><a href="#jul" data-toggle="tab">July</a></li>
					<li><a href="#aug" data-toggle="tab">August</a></li>
					<li><a href="#sep" data-toggle="tab">September</a></li>
					<li><a href="#oct" data-toggle="tab">October</a></li>
					<li><a href="#nov" data-toggle="tab">November</a></li>
					<li><a href="#dec" data-toggle="tab">December</a></li>
				</ul>
			</li>
		</ul>




		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade" id="jan">
				<br>
			</div>

			<div class="tab-pane fade" id="feb">
				<br>
			</div>

			<div class="tab-pane fade" id="mar">
				<br>
			</div>

			<div class="tab-pane fade" id="apr">
				<br>
				<input type="checkbox" checked>
				LEED Green Associate &sdot;
				<span class="gray">28 Apr 2017</span>
			</div>


			<div class="tab-pane fade" id="may">
				<br>
				<input type="checkbox" checked>
				LEED AP BD+C &sdot;
				<span class="gray">19 May 2017</span>
			</div>


			<div class="tab-pane fade" id="jun">
				<br>
				<input type="checkbox" checked> Vocabulary
			</div>


			<div class="tab-pane fade active in" id="jul">
				<br>
				<p><input type="checkbox"> Vocabulary</p>
				<p><input type="checkbox"> GRE Test &sdot;<span class="gray">9 Jul 2017</span></p>
				<input type="checkbox"> Scoring System
			</div>


			<div class="tab-pane fade" id="aug">
				<br>
			</div>


			<div class="tab-pane fade" id="sep">
				<br>
			</div>

			<div class="tab-pane fade" id="oct">
				<br>
			</div>

			<div class="tab-pane fade" id="nov">
				<br>
			</div>

			<div class="tab-pane fade" id="dec">
				<br>
			</div>
		</div>
		<!-- End -->
	</div>
</div>